
/* profile.css */
.profile-container {
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('https://w0.peakpx.com/wallpaper/328/267/HD-wallpaper-classroom-blackboard-chair-desk.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

img {
  border-radius: 50%;
  margin-top: 10px;
}
